<!doctype html>
<html lang="en">
<head>
<title>Flask Leaflet Website</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
</head>
<body>
<div id="map"></div>
<script src="{{ url_for('static', filename='map.js') }}"></script>
<script>
let existingMarker = L.marker([0, 0]).addTo(map)
                    .bindPopup("Position of the phone")
                    .openPopup();;
setInterval(function() {
    fetch('/data')
        .then(response => response.json())
        .then(data => {
            const X = data.X;
            const Y = data.Y;

            existingMarker.setLatLng([X, Y]);
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
}, 1000);


</script>

<!---<script src="{{ url_for('static', filename='marker.js') }}"></script>-->
</body>
</html>
